﻿<section class="sptb bg-white border-top">
    <form method="get" action="/dosya-bul">
        <div class="container">
            <div class="col-md-10 offset-1">
                <div class="row">
                    <div class="col-md-4">
                        <div class="sub-newsletter">
                            <h3 class="mt-4"><i class="fa fa-search mr-2"></i> Kayıtlı dosya bulma</h3>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group sub-input mt-1">
                            <input type="text" class="form-control input-lg" name="dosya_kod" placeholder="Dosya Numarası">
                            <div class="input-group-append ">
                                <button type="submit" class="btn btn-primary btn-lg br-tr-3  br-br-3">
                                    Dosya Bul
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>