﻿<section>
    <footer class="bg-dark text-white">
        
        <div class="bg-dark text-white p-0 border-bottom">
            <div class="container">
                <div class="p-2 text-center footer-links">
                    <a href="/biz-kimiz" class="btn btn-link">Biz Kimiz</a>
                    <a href="/ne-is-yapariz" class="btn btn-link">Ne İş Yaparız</a>
                    <a href="/kullanim-kosullari" class="btn btn-link">Kullanım Koşulları</a>
                    <a href="/kvkk-ve-gizlilik-politikasi" class="btn btn-link">KVKK ve Gizlilik Politikası</a>
                    <a href="#" class="btn btn-link">Blog</a>
                    <a href="/iletisim" class="btn btn-link">İletişim</a>
                </div>
            </div>
        </div>
        <div class="bg-primary primary-gradient text-white p-1">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-lg-12 col-sm-12  mt-2 mb-2 text-center ">
                        Copyright © @DateTime.Today.Year <a href="#" class="fs-14 text-success-1">Avukatlik.net</a>. Tüm hakları saklıdır.
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>