﻿<div class="header-main">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-6 col-sm-4 col-7">
                    <div class="top-bar-left d-flex">
                        <div class="clearfix">
                            <div class="header-search-logo pt-0 pb-0 ">
                                <a href="/" class="logo-img"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-sm-8 col-5">
                    <div class="top-bar-right">
                        <ul class="custom ">
                            <li>
                                <a href="/avukat-bilgilendirme" class="text-dark"><i class="fa fa-user-plus mr-1 login-details"></i><span>Avukat mısınız ?</span></a>
                            </li>
                            <li>
                                <a href="https://online.avukatalik.net" target="_blank" class="text-dark"><i class="fa fa-sign-in mr-1 login-details"></i> <span>Avukat Giriş</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizontal-header clearfix ">
        <div class="container">
            <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
            <span class="smllogo"><img src="/Content/images/brand/logo.png" width="120" alt="" /></span>
            <a href="tel:0" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="sticky">
        <div class="header-style horizontal-main  bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <!--Nav-->
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true">
                            <a href="/" class="active"><span><i class="fa fa-home"></i>Ana Sayfa </span></a>
                        </li>
                        <li aria-haspopup="true">
                            <a href="/biz-kimiz"><span><i class="fa fa-legal"></i>Biz Kimiz </span></a>
                        </li>
                        <li aria-haspopup="true">
                            <a href="/ne-is-yapariz"><span><i class="fa fa-balance-scale"></i>Ne İş Yaparız </span></a>
                        </li>
                        <li aria-haspopup="true">
                            <a href="/iletisim"><span><i class="fa fa-briefcase"></i>İletişim </span></a>
                        </li>
                        <li aria-haspopup="true" class="d-lg-none mt-5 pb-5 mt-lg-0">
                            <span><a class="btn btn-info" href="/dosya-bul">Dosya Bul</a></span>
                        </li>
                        <li aria-haspopup="true" class="d-lg-none pb-5 mt-lg-0">
                            <span><a class="btn btn-warning" href="/avukata-sor">Avukata Sor</a></span>
                        </li>
                    </ul>
                    <ul class="mb-0 d-flex">
                        <li aria-haspopup="true" class="mt-2 d-none d-lg-block mr-5">
                            <span>  <a class="btn btn-default-light border-warning ad-post" href="/dosya-bul"><i class="fa fa-search mr-1"></i>Dosya Bul</a></span>
                        </li>
                        <li aria-haspopup="true" class="mt-2 d-none d-lg-block">
                            <span><a class="btn btn-warning ad-post border-light" href="/avukata-sor"><i class="fa fa-commenting mr-1"></i>Avukata Sor</a></span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>