﻿<!doctype html>
<html lang="zxx" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0f75ff">
    <meta name="theme-color" content="#2ddcd3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <link rel="icon" href="/content/images/brand/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="/content/images/brand/favicon.ico" />
    <title>@ViewBag.Title - Avukatlik.net</title>
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/Content/webslidemenu/color-skins/color1.css" />
    <script src="/Content/js/vendors/jquery-3.2.1.min.js"></script>
    @Styles.Render("~/Content/css")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X402487MCD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-X402487MCD');
    </script>
</head>
<body>
    <div id="global-loader">
        <img src="~/Content/images/other/loader.gif" class="loader-img " alt="">
    </div>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
    <a href="#top" id="back-to-top"><i class="fa fa-rocket"></i></a>
    @Scripts.Render("~/Content/js")
    @Html.Partial("_Modal")
</body>
</html>