﻿@model avukatliknet.Models._site

<div>
    <div class="banner-1 cover-image background-size  sptb-2 bg-background" data-image-src="/Content/images/banners/banner6.png">
        <div class="header-text1 mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 d-block mx-auto">
                        <div class="text-center text-white ">
                            <h1 class="mb-0">Bu iş tam Avukatlık bir iş diyorsanız, <br />doğru yerdesiniz.</h1>
                            <p class="mt-2">Farklı alanlarda uzmanlaşmış çok sayıda üye Avukatımızla size en iyi şekilde yardımcı olmak için çalışıyoruz.</p>
                        </div>
                        <form method="get" action="/avukata-sor">
                            <div class=" search-background">
                                <div class="form row no-gutters">
                                    <div class="form-group col-xl-9 col-lg-9 select2-lg  col-md-12 mb-0">
                                        <select class="form-control select2-show-search border-bottom-0 w-100" data-placeholder="Select" name="dava_konusu">
                                            <option>Şikayet konusunu seçiniz</option>
                                            @foreach (var item in Model.M_BRANSS)
                                            {
                                                <option value="@item.brans_adi">@item.brans_adi (@item.aciklama)</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-12 mb-0">
                                        <button type="submit" class="btn btn-lg btn-block btn-primary">Hemen Sorun</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /header-text -->
</div>
</div>