﻿@model avukatliknet.Models._site

<section class="sptb">
    <div class="container">
        <div id="myCarousel1" class="owl-carousel owl-carousel-icons2">
            @foreach (var item in Model.M_SLIDER_AVUKATS)
            {
                <div class="item">
                    <div class="card mb-0 overflow-hidden">
                        <div class="item-card7-imgs">
                            <a href="/"></a>
                            @if (item.T_AVUKAT.avukat_resim == null)
                            {
                                <img src="/Content/images/categories-svg/camera-pro.svg" alt="Avukat @item.T_AVUKAT.adi_soyadi" class="p-0 rounded-circle">
                            }
                            else
                            {
                                <img src="/Upload/ProfilResim/Thumb/@item.T_AVUKAT.avukat_resim" alt="Avukat @item.T_AVUKAT.adi_soyadi" class="p-0 rounded-circle">
                            }
                        </div>
                        <div class="card-body">
                            <div class="item-card7-desc">
                                <div class="item-card7-text">
                                    <a href="/" class="text-dark text-header"><h4 class="mb-1">Av. @item.T_AVUKAT.adi_soyadi</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
