﻿@{
    ViewBag.Title = "Avukatlik.net Avantajları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Avukatlik.net Avantajları</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Avukatlik.net Avantajları</li>
            </ol>
        </div>
    </div>
</div>
<section class="sptb">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><b>Avukatlik.net </b> Benzersiz Avantajları</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p><i class="fa fa-legal"></i> Avukatlık.net uygulamasına hemen, ücretsiz üye olabilir ve hediye kredilerinizle uygulamayı kullanmaya başlayabilirsiniz.</p>
                    <p><i class="fa fa-legal"></i> Üyelik için bir ücret olmayıp her giriş yaptığınızda kredi kazanırsınız.</p>
                    <p><i class="fa fa-legal"></i> İlgilendiğiniz konuları ve istediğiniz şehirleri belirleyerek hedeflediğiniz tipte dosyalara kolayca erişebilir</p>
                    <p><i class="fa fa-legal"></i> Kendi sayfanıza iletişim bilgilerinizin yanı sıra özgeçmisinizi de ekleyebilir ve ayrıca uzmanlık alanlarınız ile ilgili Blog/Makale yazabilirsiniz</p>
                    <p><i class="fa fa-legal"></i> Uygulamayı kullandıkça Aktiflik puanı kazanabilirsiniz.</p>
                </div>

                <!--
    <h4 class="mb-4">Specifications</h4>
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="table-responsive">
                <table class="table row table-borderless w-100 m-0 text-nowrap ">
                    <tbody class="col-lg-12 col-xl-6 p-0">
                        <tr>
                            <td><span class="font-weight-bold">License :</span> Paid</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">License Validity :</span>14th Dec 2020 </td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Language :</span>English</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Developer :</span> Robert McLean</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Last updated:</span>02-01-2019</td>
                        </tr>
                    </tbody>
                    <tbody class="col-lg-12 col-xl-6 p-0">
                        <tr>
                            <td><span class="font-weight-bold">OS :</span> Windows 8</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Version :</span> 1.6</td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Downloads :</span> 16K </td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">User Rating :</span>9/10 (2547 votes) </td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">File size :</span>35.2 MB </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        -->
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-warning ad-post" href="/avukat-kayit"><i class="fa fa-user-plus"></i> Ücretsiz Üye Ol</a>
            </div>
        </div>
    </div>
</section>