﻿@model avukatliknet.Models._site

@{
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="card mb-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Adı Soyadı</label>
                                @Model.M_AVUKAT.adi_soyadi
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Bağlı Olunan Baro</label>
                                @Model.M_AVUKAT.bagli_olunan_baro
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Cep Telefonu</label>
                                @Model.M_AVUKAT.cep_telefonu
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">E-posta Adresi</label>
                                @Model.M_AVUKAT.e_posta_adresi
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Adresi</label>
                                @Model.M_AVUKAT.adresi
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Bulunduğu Şehir</label>
                                @Model.M_AVUKAT.T_SEHIR.il_adi
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Dava Konuları</label>
                                <ul class="list-unstyled widget-spec  mb-0">
                                    @foreach (var item in Model.M_AVUKAT.T_AVUKAT_BRANS)
                                    {

                                        <li class="">
                                            <i class="fa fa-check-circle-o text-success"></i>@item.T_BRANS.brans_adi
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Dava Alabileceği Şehirler</label>
                                <ul class="list-unstyled widget-spec  mb-0">
                                    @foreach (var item in Model.M_AVUKAT.T_AVUKAT_SEHIR)
                                    {

                                        <li class="">
                                            <i class="fa fa-check-circle-o text-success"></i>@item.T_SEHIR.il_adi
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label class="form-label font-weight-bold">Özgeçmişi</label>
                                @Html.Raw(Model.M_AVUKAT.ozgecmis)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>