﻿@model avukatliknet.Models._site

@{
    ViewBag.Title = "Avukata Sor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Avukata Sor</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Avukata Sor</li>
            </ol>
        </div>
    </div>
</div>

<section class="sptb">
    <form method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h3 class="card-title">Dosya Oluştur</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @Html.Raw(Model.ErrorStr)
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Adınız Soyadınız <span class="text-red">*</span></label>
                                        <input type="text" class="form-control" name="adi_soyadi" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Şikayet Konusu <span class="text-red">*</span></label>
                                        <select class="form-control select2-show-search border-bottom-0 w-100" data-placeholder="Select" name="brans_id" required>
                                            <option value="">Seçiniz</option>
                                            @foreach (var item in Model.M_BRANSS)
                                            {
                                                if (Model.BransStr != null && Model.BransStr == item.brans_adi)
                                                {
                                                    <option value="@item.id" selected>@item.brans_adi (@item.aciklama)</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.id">@item.brans_adi (@item.aciklama)</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Cep Telefonunuz <span class="text-red">*</span></label>
                                        <input type="text" class="form-control" name="cep_telefonu" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">E-posta Adresiniz <span class="text-red">*</span></label>
                                        <input type="email" class="form-control" name="e_posta_adresi" required>
                                        <div class="invalid-feedback" style="display:block">Dosya numaranız e-posta adresinize gönderilecektir.</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">İletişim Tercihi <span class="text-red">*</span></label>
                                        <select class="form-control border-bottom-0 w-100" name="iletisim_tercihi" required>
                                            <option value="">Seçiniz</option>
                                            <option value="1">Telefon</option>
                                            <option value="2">E-posta</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Bulunduğunuz Şehir <span class="text-red">*</span></label>
                                        <select class="form-control select2-show-search border-bottom-0 w-100" name="il_id" required>
                                            <option value="">Seçiniz</option>
                                            @foreach (var item in Model.M_SEHIRS)
                                            {
                                                <option value="@item.id">@item.il_adi</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Şikayet Açıklaması <span class="text-red">*</span></label>
                                        <textarea id="editor" rows="10" name="sikayet_aciklama" class="form-control" placeholder="Şikayet açıklamanızı detaylı olarak buraya yazınız"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-label">Dosya Gönder <span class="text-red">(En fazla 3 dosya)</span></label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="dosya" multiple>
                                            <label class="custom-file-label">Dosya Seç</label>
                                            <div class="invalid-feedback" style="display:block">*.zip, *.rar, *.pdf, *.jpg, *.bmp, *.tiff, *.png</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                                        <label class="form-label">Güvenlik Kodu <span class="text-red">*</span></label>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <input type="text" name="captcha" class="form-control mb-0" autocomplete="off" required>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <img src="/getcaptchacode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="button" data-toggle="modal" data-backdrop="static" class="btn btn-warning modal-okudum" title="Gizlilik Sözleşmesi">Dosyamı Oluştur</button>
                        </div>
                    </div>

                </div>

                <div class="col-xl-3 col-lg-4 col-md-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="card-title">Lütfen Okuyunuz</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled widget-spec  mb-0">
                                <li class="">
                                    <i class="fa fa-check-circle-o text-success"></i>Bilgileriniz kesinlikle kimse ile paylaşılmayacak. Sadece avukatlar Adınızı ve Soyadınızı maskeli (A**** Y****) şekilde göreceklerdir.
                                </li>
                                <li class="">
                                    <i class="fa fa-check-circle-o text-success"></i>Dosya oluştururken şikayetinizi eksiksiz ve anlaşılır şekilde yazmanız avukatlardan gelecek cevapların daha doğru olmasını sağlayacaktır.
                                </li>
                                <li class="">
                                    <i class="fa fa-check-circle-o text-success"></i>Lüfen güncel bir e-posta adresi belirtiniz. Dosya takip numaranız e-posta adresinize gönderilecektir.
                                </li>
                                <li class="">
                                    <i class="fa fa-check-circle-o text-success"></i>Dosyanız size özel açılacak ve sadece takip numarası ve e-posta bilgileriniz ile erişilecektir.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="card-title">Bilgilendirme</h3>
                        </div>
                        <div class="card-body">
                            <label class="custom-control custom-checkbox">
                                <a href="~/Upload/Baro-Tarifesi.pdf" class="btn btn-danger" target="_blank">@DateTime.Today.Year Yılı Baro Tarifesi</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="content-okudum" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg pb-10" style="width:100%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body height-580">
                        <div class="row">
                            <div class="col-md-12 height-500 overlay-y">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis turpis leo, ut blandit sapien pharetra vitae. In tellus ipsum, cursus nec nunc vitae, tempus aliquet metus. Maecenas vitae risus ac enim faucibus euismod id vitae mi. Nulla sed fringilla purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam vel justo metus. Praesent suscipit, libero ut porttitor ullamcorper, erat lectus auctor ex, sit amet tempus risus lacus nec mauris. Curabitur ultrices odio eu mi scelerisque congue. Aenean eget tempor lorem. Vestibulum mattis ultricies pretium.<br /><br />
                                Suspendisse vitae augue aliquam, tempus arcu a, dignissim diam. Donec malesuada nibh arcu. Nulla facilisi. Etiam eu arcu lectus. Donec bibendum, risus eu aliquam molestie, turpis eros faucibus nunc, a dictum odio lectus sed eros. Cras ut ex ut mi rhoncus tempus in id dui. Sed ultricies mi porttitor pulvinar congue. Cras ut leo a ante ultrices fringilla hendrerit vitae augue. Suspendisse vel dictum urna, sed molestie mauris. Mauris quis massa sem. Proin ultricies eros ut vehicula facilisis. Morbi non sapien non felis tempus imperdiet. Etiam accumsan varius pretium. Etiam eu tortor aliquam, malesuada augue vitae, pulvinar erat. Nulla auctor lobortis est, ac finibus sapien sagittis quis.<br /><br />
                                Donec dapibus et dui in placerat. Nullam id varius turpis, sed tincidunt metus. Suspendisse sed arcu a mi mollis maximus at ac nibh. Sed consectetur ut lacus et tempus. Etiam sit amet laoreet lacus, a elementum tortor. Maecenas pellentesque consectetur nunc, in eleifend ipsum pellentesque ut. Cras justo eros, commodo ac pellentesque id, varius non nulla. Nulla in ante mi. Suspendisse varius magna sed bibendum finibus. Praesent id dapibus augue, et faucibus tellus. Suspendisse sit amet pulvinar nisi.<br /><br />
                                In hac habitasse platea dictumst. Proin tempus sit amet neque non consequat. Pellentesque congue porttitor nisl, vehicula ultrices odio vestibulum sit amet. Etiam vel lacinia tellus. Praesent mauris libero, tempor quis tellus ac, vehicula interdum turpis. Vestibulum pretium nulla a orci sodales sollicitudin. Vestibulum quis venenatis tellus. Vestibulum pellentesque enim id magna sodales tempor. Donec sit amet dui eget magna tincidunt volutpat suscipit sit amet libero. Maecenas sit amet turpis non mi pretium pellentesque. Curabitur vehicula mauris at augue molestie ultrices ut at risus.<br /><br />
                                Maecenas eros turpis, vestibulum et aliquam vitae, tristique quis purus. Duis pharetra vitae nulla sit amet condimentum. Maecenas tincidunt, eros eu eleifend elementum, velit est ultrices mauris, quis viverra augue justo eu arcu. Aenean rutrum mattis urna a maximus. Maecenas viverra, leo ac bibendum interdum, eros ligula molestie diam, sit amet fermentum libero sem id ante. Vivamus cursus dui id augue tincidunt rutrum. Ut laoreet venenatis erat, eget dapibus nisi feugiat scelerisque.
                            </div>
                            <div class="col-md-12 pt-5">
                                <label class="custom-control custom-checkbox">
                                    Okudum ve Kabul Ediyorum
                                    <input type="checkbox" class="custom-control-input" name="checkbox" value="checkbox" required>
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-6">
                            <button type="submit" id="button-modal" class="btn btn-danger">Onaylıyorum</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="~/Content/editor/ckeditor.js"></script>
<script>
    $(document).ready(function () {
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: [
                    'bold', 'italic', 'bulletedList', 'numberedList', 'undo', 'redo'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

        $(".modal-okudum").click(function () {
            $("#content-okudum .modal-title").html($(this).attr("title"));
            $("#content-okudum").modal();
            //load_page_s($(this).attr('href'));
        });

    });
</script>