﻿@model avukatliknet.Models._site

@{
    ViewBag.Title = "Avukat Kayıt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Avukat Kayıt</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Avukat Kayıt</li>
            </ol>
        </div>
    </div>
</div>

<section class="sptb">
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.TavsiyeRefKod" />
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h3 class="card-title">Avukat Kayıt</h3>
                        </div>
                        <div class="card-body">
                            @Html.Raw(Model.ErrorStr)
                            <div class="row">
                                @if (!string.IsNullOrEmpty(Model.TavsiyeAdSoyad))
                                {
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Referansınız : <span class="text-red">@Model.TavsiyeAdSoyad</span></label>
                                        </div>
                                    </div>
                                }
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Adınız Soyadınız <span class="text-red">*</span></label>
                                        <input type="text" class="form-control" name="adi_soyadi" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Bağlı Olduğunuz Baro <span class="text-red">*</span></label>
                                        <input type="text" class="form-control" name="bagli_olunan_baro">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Cep Telefonunuz <span class="text-red">*</span></label>
                                        <input type="text" class="form-control" name="cep_telefonu" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">E-posta Adresiniz <span class="text-red">*</span></label>
                                        <input type="email" class="form-control" name="e_posta_adresi" required>
                                        <div class="invalid-feedback" style="display:block">Şifreniz e-posta adresinize gönderilecektir.</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Adresiniz</label>
                                        <input type="text" class="form-control" name="adresi">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Bulunduğunuz Şehir <span class="text-red">*</span></label>
                                        <select class="form-control select2-show-search border-bottom-0 w-100" name="il_id" required>
                                            <option value="">Seçiniz</option>
                                            @foreach (var item in Model.M_SEHIRS)
                                            {
                                                <option value="@item.id">@item.il_adi</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Dava Konuları <span class="text-red">*</span></label>
                                        <select class="form-control select2 border-bottom-0 w-100" name="brans_id" multiple required>
                                            @foreach (var item in Model.M_BRANSS)
                                            {
                                                <option value="@item.id">@item.brans_adi (@item.aciklama)</option>
                                            }
                                        </select>
                                        <div class="invalid-feedback" style="display:block">@Model.BransLimit</div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Dava Alabileceğiniz Şehirler <span class="text-red">*</span></label>
                                        <select class="form-control select2 border-bottom-0 w-100" name="ils_id" multiple required>
                                            @foreach (var item in Model.M_SEHIRS)
                                            {
                                                <option value="@item.id">@item.il_adi</option>
                                            }
                                        </select>
                                        <div class="invalid-feedback" style="display:block">@Model.SehirLimit</div>
                                    </div>
                                </div>
                                @*<div class="col-sm-12 col-md-12">
                <div class="form-group">
                    <label class="form-label">Özgeçmişiniz <span class="text-red">*</span></label>
                    <textarea rows="10" name="ozgecmis" class="form-control" placeholder="Kısa Özgeçmişinizi Yazınız" required></textarea>
                </div>
            </div>*@
                                <div class="col-md-12">
                                    <div class="form-group mb-0">
                                        <label class="form-label">Güvenlik Kodu <span class="text-red">*</span></label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" name="captcha" class="form-control mb-0" autocomplete="off" required>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/getcaptchacode">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-warning">Kaydet</button>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="card-title">Lütfen Okuyunuz</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled widget-spec  mb-0">
                                <li class="">
                                    <i class="fa fa-check-circle-o text-success"></i>Bilgileriniz kesinlikle kimseyle paylaşılmayacak.
                                </li>
                                <li class="">
                                    <i class="fa fa-check-circle-o text-success"></i>Özgeçmişiniz teklif verdiğiniz kullanıcıyla paylaşılacaktır.
                                </li>
                                <li class="">
                                    <i class="fa fa-check-circle-o text-success"></i>İlk kayıt işleminde @Model.KrediParams kredi hediye verilecektir. Kredi yükleme işlemleri için online.avukatlik.net adresini kullanabilirsiniz.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 class="card-title">Bizi Nereden Duydunuz ?</h3>
                        </div>
                        <div class="card-body">
                            <div class="custom-controls-stacked">
                                @for (int i = 0; i < Model.ParamDataTable.Rows.Count; i++)
                                {
                                    <label class="custom-control custom-radio mr-4">
                                        <input type="radio" class="custom-control-input" name="bizi_nereden_duydunuz" value="@Model.ParamDataTable.Rows[i].ItemArray[1]" required>
                                        <span class="custom-control-label">@Model.ParamDataTable.Rows[i].ItemArray[2]</span>
                                    </label>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card mb-0">
                        <div class="card-header">
                            <h3 class="card-title">Gizlilik Sözleşmesi</h3>
                        </div>
                        <div class="card-body">
                            <label class="custom-control custom-checkbox">
                                <a href="#" class="text-blue" target="_blank">Okudum ve Kabul Ediyorum</a>
                                <input type="checkbox" class="custom-control-input" name="checkbox" value="checkbox" required>
                                <span class="custom-control-label"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>