﻿@model avukatliknet.Models._site

@{
    ViewBag.Title = "Kayıt Tamamlandı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Kayıt Tamamlandı</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kayıt Tamamlandı</li>
            </ol>
        </div>
    </div>
</div>

<div class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xl-8 col-md-8 d-block mx-auto">
                <div class="single-page w-100 p-0">
                    <div class="wrapper wrapper2">
                        <div class="mb-5 mt-5">
                            <span class="avatar avatar-xxl  brround cover-image" data-image-src="/content/images/check.png"></span>
                        </div>
                        <span class="m-4 d-lg-block text-black" style="text-align:left">
                            @Html.Raw(Model.SuccessStr)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

