﻿
@{
    ViewBag.Title = "Biz Kimiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@Html.Partial("_NewDoc")

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Biz Kimiz</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Biz Kimiz</li>
            </ol>
        </div>
    </div>
</div>

<section class="sptb">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Misyonumuz</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>Avukatlık bir sorun yaşayan vatandaşların, yaşadıkları sorun için kendilerine en uygun avukatı seçmelerine yardımcı olmak</p>
                    <p>Türkiye Cumhuriyeti Barolarına bağlı tüm avukatların eşit bir şekilde üye olabileceği ortak bir platform sağlamak</p>
                </div>

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Vizyonumuz</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>Avukatlık bir sorun yaşayan vatandaşların eş/dost/akrabadan avukat tavsiyesi almak yerine yapay zeka destekli uygulamamız ile kendileri için doğru avukatı şeçmesini sağlamak</p>
                    <p>Vatandaşların avukatların ofislerine gitmeden şikayetlerini bilgisayar yada cep telefonu ile 7/24 bildirebilmesine imkan sağlamak</p>
                </div>

            </div>
        </div>
    </div>
</section>

@Html.Partial("_DocSearch")