﻿@model avukatliknet.Models._site

@{
    ViewBag.Title = "Dosya";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Dosya Bul</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dosya</li>
            </ol>
        </div>
    </div>
</div>

<section class="sptb">
    @if (Model.DosyaGoster == 0)
    {
        <form method="post" action="/dosya-bul">
            @Html.AntiForgeryToken()
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="card-title">Açmış olduğunuz dosyanın detaylarını ve dosyaya gelen cevapları görüntülemek için size gelen kodu ve Email adresinizi giriniz</h3>
                            </div>
                            <div class="card-body">
                                @Html.Raw(Model.ErrorStr)

                                <div class="row">
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">Dosya Kodu<span class="text-red">*</span></label>
                                            <input type="text" class="form-control" name="dosya_kod" value="@Model.DosyaKod" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <label class="form-label">E-posta adresi<span class="text-red">*</span></label>
                                            <input type="text" class="form-control" name="e_posta_adresi" value="@Model.EPostaAdresi" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group mb-0">
                                            <label class="form-label">Güvenlik Kodu <span class="text-red">*</span></label>
                                            <input type="text" name="captcha" class="form-control mb-0" autocomplete="off" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div class="form-group mb-0">
                                            <label class="form-label">&nbsp;</label>
                                            <img src="/getcaptchacode">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-warning">Dosya Bul</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <form method="post" action="/dosya-islem">
            @Html.AntiForgeryToken()
            <input type="hidden" name="dosya_kod" value="@Model.M_SIKAYET.dosya_kod" />
            <div class="container">
                <div class="row mb-5">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="row pb-1">
                                    <div class="col-sm-6 col-md-6">
                                        Dosya Kodu : <span class="text-red font-weight-bold">@Model.M_SIKAYET.dosya_kod</span>
                                    </div>
                                    <div class="col-sm-6 col-md-6 text-right">
                                        <span class="text-red">@Model.DurumStr</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="card mb-0">
                            <div class="card-body text-right">
                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#dosyakapatuyari" data-backdrop="static">Dosya Kapat</button>
                                <button type="button" class="btn btn-sm btn-danger ml-5" data-toggle="modal" data-target="#dosyasiluyari" data-backdrop="static">Dosya Sil</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="card-title">Dosya Göster</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    @Html.Raw(Model.ErrorStr)
                                    <div class="col-sm-12 col-md-12 border-bottom">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold float-left mr-6" style="">Adınız Soyadınız : </label>&nbsp;
                                            @Model.M_SIKAYET.adi_soyadi.Replace(Model.M_SIKAYET.adi_soyadi.Substring(1, Model.M_SIKAYET.adi_soyadi.Length - 2), new string('*', Model.M_SIKAYET.adi_soyadi.Length - 2))
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 border-bottom mt-3">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold float-left mr-8">Dava Konusu : </label>
                                            @Model.M_SIKAYET.T_BRANS.brans_adi
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 border-bottom mt-3">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold float-left mr-6">Cep Telefonunuz : </label>&nbsp;
                                            @Model.M_SIKAYET.cep_telefonu.Replace(Model.M_SIKAYET.cep_telefonu.Substring(1, Model.M_SIKAYET.cep_telefonu.Length - 2), new string('*', Model.M_SIKAYET.cep_telefonu.Length - 2))
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 border-bottom mt-3">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold float-left mr-6">E-posta Adresiniz : </label>&nbsp;
                                            @Model.M_SIKAYET.e_posta_adresi.Replace(Model.M_SIKAYET.e_posta_adresi.Substring(1, Model.M_SIKAYET.e_posta_adresi.Length - 2), new string('*', Model.M_SIKAYET.e_posta_adresi.Length - 2))
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 border-bottom mt-3">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold float-left mr-md-7">İletişim Tercihi : </label>&nbsp;
                                            @(Model.M_SIKAYET.iletisim_tercihi == 1 ? "Telefon" : "E-posta")
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 border-bottom mt-3">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold float-left mr-4">Bulunduğunuz Şehir : </label>
                                            @Model.M_SIKAYET.T_SEHIR.il_adi.Replace(Model.M_SIKAYET.T_SEHIR.il_adi.Substring(1, Model.M_SIKAYET.T_SEHIR.il_adi.Length - 2), new string('*', Model.M_SIKAYET.T_SEHIR.il_adi.Length - 2))
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 border-bottom mt-3">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold">Dosya Açıklaması</label>
                                            @Html.Raw(Model.M_SIKAYET.sikayet_aciklama)
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 mt-3">
                                        <div class="form-group">
                                            <label class="form-label font-weight-bold">Dosyalar</label>
                                            <a href="/Files/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya1">@Model.M_SIKAYET.dosya1</a><br />
                                            <a href="/Files/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya2">@Model.M_SIKAYET.dosya2</a><br />
                                            <a href="/Files/@Model.M_SIKAYET.dosya_kod/@Model.M_SIKAYET.dosya3">@Model.M_SIKAYET.dosya3</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="card mb-0">
                            <div class="card-header">
                                <h3 class="card-title">Gelen Teklifler</h3>
                            </div>
                            <div class="card-body">
                                <div class="my-favadd table-responsive border-top userprof-tab">
                                    <table class="table table-bordered table-hover mb-0 text-nowrap">
                                        <thead>
                                            <tr>
                                                <th class="font-weight-bold">Avukat Bilgileri</th>
                                                <th class="font-weight-bold">Teklif Tarihi</th>
                                                <th class="font-weight-bold">Detaylar</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.M_SIKAYET.T_SIKAYET_AVUKAT.OrderByDescending(t => t.teklif_tarihi))
                                            {
                                                <tr>
                                                    <td><a href="/avukat-detay/@item.T_AVUKAT.avukat_code" class="btnstat-modal" data-toggle="modal" data-target="#avukatlik-modal" title="Av. @item.T_AVUKAT.adi_soyadi - @item.T_AVUKAT.bagli_olunan_baro">@item.T_AVUKAT.adi_soyadi</a></td>
                                                    <td>@Convert.ToDateTime(item.teklif_tarihi).ToString("dd.MM.yyyy")</td>
                                                    <td><a href="/teklif-detay/@item.sikayet_kodu" class="btnstat-modal badge badge-primary" data-toggle="modal" data-target="#avukatlik-modal" title="Teklif Detay">Teklifi Göster</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="dosyakapatuyari" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dosya Kapat</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Dosya kapatılacak. Dosyayı kapatma nedenini bizimle paylaşmak ister misiniz ?</p>
                            <div class="form-group ">
                                <div class="custom-controls-stacked">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="dosya_anket" value="Bir avukatla anlaştım">
                                        <span class="custom-control-label">Bir avukatla anlaştım</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="dosya_anket" value="İstediğim verimi alamadım">
                                        <span class="custom-control-label">İstediğim verimi alamadım</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="dosya_anket" value="Vazgeçtim">
                                        <span class="custom-control-label">Vazgeçtim</span>
                                    </label>
                                </div>
                            </div>
                            <p>Teşekkürler</p>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-6">
                                <button type="submit" value="dosyakapat" name="buton" class="btn btn-danger">Dosyayı Kapat</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="dosyasiluyari" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Dosya Sil</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Dosya Silinecek. Dosyaya tekrar ulaşılamayacak. Devam etmek istiyor musunuz ?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="col-md-6">
                                <button type="submit" value="dosyasil" name="buton" class="btn btn-danger">Dosyayı Sil</button>
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
</section>
