﻿
@{
    ViewBag.Title = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@Html.Partial("_NewDoc")

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">İletişim Formu</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">İletişim Formu</li>
            </ol>
        </div>
    </div>
</div>

<div class="sptb">
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 d-block ">
                    <div class="single-page">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="row">
                                    @Html.Raw(Model.ErrorStr)
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Adınız Soyadınız <span class="text-red">*</span></label>
                                            <input type="text" class="form-control" id="adi_soyadi" placeholder="Adınız Soyadınız" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">E-posta Adresiniz <span class="text-red">*</span></label>
                                            <input type="email" class="form-control" id="e_posta_adresi" placeholder="E-posta Adresiniz" required>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mesajınız <span class="text-red">*</span></label>
                                            <textarea class="form-control" name="mesajiniz" rows="6" placeholder="İletmek istediğiniz mesajınız" required></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Güvenlik Kodu <span class="text-red">*</span></label>
                                            <div class="row col-md-6">
                                                <input type="text" name="captcha" class="form-control w-50" autocomplete="off" required>
                                                <img src="/getcaptchacode" class="ml-3" style="height:38px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-warning">Gönder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("_DocSearch")