﻿@model avukatliknet.Models._site

@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@Html.Partial("_NewDoc", Model)

<section class="sptb">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Neden ve Nasıl</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>Ancak bir Avukatın çözebileceği bir sorununuz varsa doğru yerdesiniz. İlgili konuyu seçip sikayetinizi detaylıca anlatın, sonrada uzman Avukatlarımızın cevaplarını bekleyin </p>
                    <p>Karşı karşıya kaldığınız sorunu Avukatlarımıza sorduktan sonra size özel açılan dosyanıza gelen cevapları okuyup, size uygun olduğunuz düşündüğünüz avukatlar ile iletişime geçebilirsiniz.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="about-1 cover-image background-size sptb-2 bg-background-5 " data-image-src="/Content/images/banners/banner6.png">
        <div class="container">
            <div class="">
                <div class="col-lg-12 col-xl-12 col-md-12">
                    <div class="sub-newsletter text-white  text-center">
                        <h2 class="mb-3"><i class="fa fa-search mr-2"></i> Kayıtlı dosya bulma</h2>
                        <p class="mb-0">Size mail ile gönderdiğimiz kodu buraya yazarak iletmiş olduğunuz dosyanızı bulabilirsiniz.</p>
                        <form method="get" action="/dosya-bul">
                            <div class="input-group text-center sub-input mt-1 w-50 ml-auto mr-auto mt-6">
                                <input type="text" class="form-control input-lg" name="dosya_kod" placeholder="Dosya Numarası">
                                <div class="input-group-append ">
                                    <button type="submit" class="btn btn-primary btn-lg br-tr-3  br-br-3">
                                        Dosya Bul
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sptb">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Gizlilik ve Güvenlik</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>Avukatlık.net uygulamasında paylaştığınız şikayetiniz size özeldir ve güvenle saklanır.</p>
                    <p>Şikayetiniz ve avukatlardan gelen tüm cevaplar bir dosya halinde hazırlanıp sadece şikayet sahibinin erişimine açık bir ekranda görüntülenir</p>
                    <p>Avukatlar şikayet sahibinin iletişim bilgilerini göremezler, sadece şikayet sahibi isterse avukatların iletişim bilgilerini görebilir</p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ücretler</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>Avukatlık.net uygulamasında dosya açmak, gelen cevapları okumak, cevap yazan avukatlarımızın iletişim bilgilerini görüntülemek tamamen ücretsizdir.</p>

                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <div class="about-1 cover-image background-size sptb pt-7 pb-7 bg-background-color" data-image-src="/Content/images/banners/banner6.png" style="background: url('/Content/images/banners/banner6.png') center center;">
        <div class="content-text mb-0 text-white info">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-4 mt-3 mb-3">
                        <i class="fa fa-balance-scale fs-25 text-primary mr-3 mb-1"></i>
                        <div class="counter-status md-mb-0">
                            <h2 class="counter  mb-3">@string.Format("{0:0}", Model.AvukatSayi)</h2>
                            <h5>Avukat</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-3 mb-3">
                        <i class="fa fa-legal text-primary fs-25 mr-3 mb-1"></i>
                        <div class="counter-status md-mb-0">
                            <h2 class="counter  mb-3">@string.Format("{0:0}", Model.DosyaSayi)</h2>
                            <h5>Dosya</h5>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 mt-3 mb-3">
                        <i class="fa fa-smile-o  fs-25 text-primary mr-3 mb-1"></i>
                        <div class="counter-status">
                            <h2 class="counter mb-3">@string.Format("{0:0}", Model.MusteriSayi)</h2>
                            <h5>Memnun Vatandaş</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.Partial("_SliderBottom", Model)