﻿
@{
    ViewBag.Title = "Kullanım Koşulları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@Html.Partial("_NewDoc")

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Kullanım Koşulları</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kullanım Koşulları</li>
            </ol>
        </div>
    </div>
</div>

<section class="sptb">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kullanım Koşulları</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>Avukatlık.net uygulamasında üye olmak tamamen ücretsiz olup, üye avukatlar için eşit şartlarda hizmet verilmektedir</p>
                    <p>Avukatlık.net uyguması vatandaşların yaşadığı bir hukuki sorunu konunun uzmanı avukatlara sormasını ve avukatların cevaplarını inceleyebilmesi amacıyla kurulmuştur.</p>

                </div>
            </div>
        </div>
    </div>
</section>

