﻿
@{
    ViewBag.Title = "KVKK ve Gizlilik Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@Html.Partial("_NewDoc")

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">KVKK ve Gizlilik Politikası</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">KVKK ve Gizlilik Politikası</li>
            </ol>
        </div>
    </div>
</div>

<section class="sptb">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kişisel Verilerin Saklanması ve İşlenmesi Hakkında Bilgilendirme</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>
                        Avukatlık.net olarak üyelerimize ait her türlü kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVK Kanunu”)’na uygun olarak işlenerek, muhafaza edilmesine önem vermekteyiz.
                    </p>
                    <p>
                        Kişisel verilerinizi aşağıda izah edildiği surette ve mevzuat tarafından emredilen sınırlar çerçevesinde işlemekteyiz.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kişisel Verilerin İşlenme ve Aktarılma Amaçları</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>
                        Kişisel Veriler; hukuka ve Kanun’un amacına uygun olarak Şirketin, yönetim ve iletişim faaliyetlerinin üyelerimizin şirketimizden sağladığı hizmetlerinden Kişisel Veri Sahipleri’nin en iyi şekilde faydalandırılması ve onların talep, ihtiyaç ve isteklerine göre özel hale getirilerek önerilmesi, veri güvenliğinin en üst düzeyde sağlanması, internet sitesinde sunulan hizmetlerin geliştirilmesi ve sitede oluşan hataların giderilmesi, kendisine talep ve şikâyetlerini ileten Kişisel Veri Sahipleri ile iletişime geçmesi ve talep ve şikâyet yönetiminin sağlanması, etkinlik yönetimi, yetkili kuruluşlara mevzuattan kaynaklı bilgi verilmesi, Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları kapsamında işlenir ve Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri aktarma şartları kapsamında üçüncü kişiler/kuruluşlar tarafından elde edilmekte veya bunlarla paylaşılmakta, kaydedilmekte, elektronik sistemlerine aktarılmaktadır, Bahsi geçen amaçlarla gerçekleştirilen işleme faaliyetinin, Kanun kapsamında öngörülen şartlardan herhangi birini karşılamıyor olması halinde, ilgili işleme sürecine ilişkin olarak Şirket tarafından açık rızanız temin edilmektedir.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>
                        Kanun’un amacını düzenleyen 1. Madde ile Kanun’un kapsamını düzenleyen 2. Madde’ye uygunluğunun denetimi amacıyla, Kişisel Veriler; her türlü sözlü, yazılı, elektronik ortamda; teknik ve sair yöntemlerle, çağrı merkezi, Şirket internet sitesi, mobil uygulama gibi muhtelif yollardan, Şirket kuruluşunda belirtilen amaçların gerçekleştirilmesi amacıyla mevzuat, sözleşme, talep ve isteğe dayalı hukuki sebepler çerçevesinde yasadan doğan sorumlulukların eksiksiz ve doğru bir şekilde yerine getirilebilmesi için toplanır ve Şirket veya Şirket tarafından görevlendirilen veri işleyenler tarafından işlenir.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Kişisel Veri Sahibi’nin KVK Kanunu Uyarınca Hakları</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <p>
                        Şirket, Kanun’un 10.maddesi uyarınca size haklarınızı bildirmekte; söz konusu hakların nasıl kullanılacağına dair yol göstermekte ve tüm bunlar için gerekli iç işleyişi, idari ve teknik düzenlemeleri gerçekleştirmektedir. Şirket Kanun’un 11.maddesi uyarınca Kişisel Veriler’i alınan kişilere; Kişisel Veri işlenip işlenmediğini öğrenme, Kişisel Veriler’i işlenmişse buna ilişkin bilgi talep etme, Kişisel Veriler’in işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme, Yurt içinde veya yurt dışında Kişisel Veriler’in aktarıldığı üçüncü kişileri bilme, Kişisel Veriler’in eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme, Kanun’un 7. maddesinde öngörülen şartlar çerçevesinde Kişisel Veriler’in silinmesini veya yok edilmesini isteme, Kanun’un 11. Maddesinin (d) ve (e) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme, İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme, Kişisel Veriler’in kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme haklarının olduğunu açıklar.
                    </p>
                    <p>
                        Kişisel Veri Sahipleri sayılan haklarına ilişkin taleplerini kimliklerini tespit edecek bilgi ve belgelerle ve aşağıda belirtilen yöntemlerle veya KVK Kurulu’nun belirlediği diğer yöntemlerle aşağıdaki bağlantıdan ulaşılabilecek Başvuru Formu’nu doldurup imzalayarak Şirket’e ücretsiz olarak iletebileceklerdir:
                    </p>
                    <p>
                        (i) Başvuru formu doldurulduktan sonra ıslak imzalı bir nüshasının bizzat elden veya noter aracılığı ile Levent / İSTANBUL adresine iletilmesi,
                    </p>
                    <p>
                        (ii) Başvuru formu doldurulup 5070 Sayılı Elektronik İmza Kanunu kapsamındaki “güvenli elektronik imza”nızla imzalandıktan sonra güvenli elektronik imzalı formun kvkk@avukatlik.net adresine kayıtlı elektronik posta ile gönderilmesi.
                    </p>
                    <p>
                        (iii) Başvuru formu doldurulup mobil imza ya da ilgili kişi tarafından veri sorumlusuna daha önce bildirilen ve veri sorumlusunun sisteminde kayıtlı bulunan elektronik posta adresini kullanmak suretiyle kvkk@ikincigöz.net e-mail adresine elektronik posta ile gönderilmesi.
                    </p>
                    <p>
                        Kişisel veri sahipleri adına üçüncü kişilerin başvuru talebinde bulunabilmesi için veri sahibi tarafından başvuruda bulunacak kişi adına noter kanalıyla düzenlenmiş özel vekâletname bulunmalıdır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



