﻿
@{
    ViewBag.Title = "Ne İş Yaparız";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@Html.Partial("_NewDoc")

<div class="bg-white border-bottom">
    <div class="container">
        <div class="page-header">
            <h4 class="page-title">Ne İş Yaparız</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Ana Sayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Ne İş Yaparız</li>
            </ol>
        </div>
    </div>
</div>

<section class="sptb">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ne İş Yaparız</h3>
            </div>
            <div class="card-body">
                <div class="mb-4 row">
                    <div class="col-md-4">
                        <img src="~/Content/images/biz_kimiz.jpeg" />
                    </div>
                    <div class="col-md-8">
                        <div class="ml-5">
                            <p><i class="fa fa-legal"></i> Avukatlık mesleği pek çok alt uzmanlık alanlarından oluştumaktadır. Avukatlık.net olarak doğru şikayeti doğru uzman Avukata ulaştırmayı hedefliyoruz</p>
                            <p><i class="fa fa-legal"></i> Şehir seçimi sayesinde farklı şehirlerdeki avukatlar ile de iletişim kurma imkanı sunuyoruz</p>
                            <p><i class="fa fa-legal"></i> Aynı şikayet dosyası için farklı avukatların cevaplarını tek bir ekranda topluyor ve gelen cevapları karşılaştırarak doğru kararı vermenize destek oluyoruz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Partial("_DocSearch")
